@font-face {
    font-family: "Noto-Sans";
    src: url(./NotoSans-VariableFont_wdth\,wght.ttf);
    font-display: swap;
}

/* #region CSS RESET by JOSH W COMEAU*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion CSS RESET */

/* #region UNIVERSAL BODY STYLING */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: "Noto-Sans", sans-serif;
}

#content {
    flex: 1;
    background: #828C51;
}

.footer {
    padding: 0.5rem;
    background: #828C51;
    /* font-size: 0.85rem; */
    text-align: center;
}

/* #endregion UNIVERSAL BODY STYLING */

/* #region HEADER/NAVBAR STYLING */

header {
    background: #828C51;
}

nav {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid black; */

    width: clamp(500px, 32rem, 50%);
    display: flex;
    justify-content: space-evenly;

}

nav>button {
    padding: 1rem 2rem;

    border: none;
    border-radius: 0.75rem;
    background-color: brown;
    color: #F6F7EB;

    cursor: pointer;

    transition: all ease 200ms;
}

nav>button:hover {
    background-color: #6d1a1a;
}

nav>button:active {
    background-color: brown;
    transition: all 0ms;
}

/* #endregion HEADER/NAVBAR STYLING */

/* #region CONTENT styling */
#content {
    display: flex;
    flex-direction: column;
}

.holder {
    margin: auto;
    padding: 1rem;
    background-color: #F6F7EB;
    width: clamp(500px, 50%, 35rem);

    flex: 1;
    border-radius: 0.75rem;

    box-shadow: 0 0 10px -2px black;
}

/* #endregion CONTENT styling */

/* #region FOOTER styling */


.footer{

    z-index: -1;
    color: #ffffff;
    text-shadow: 0 0 3px black;
}

/* #endregion FOOTER styling */

